body {
	background-color: #f1f1f1;
	font-size: 0.875rem;
}

textarea {
	resize: none;
}

#content {
	padding: 10px;
}

.form-sign-in {
	width: 100%;
	/* margin: 100px auto 0; */
}

.form-sign-in-error {
	width: fit-content;
	min-width: 650px;
	margin: auto;
}

.form-sign-in-body {
	width: 500px;
	margin: auto;
}

.form-sign-in h1,
.form-sign-in h4 {
	margin-bottom: 25px;
}

.thank-you {
	width: 100%;
	height: 100vh;
	margin: auto;
	gap: 50px;
}

/* Dashboard.css */

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/* Sidebar */

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
	.sidebar {
		top: 5rem;
	}
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/* Navbar */

.navbar-brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
	top: 0.25rem;
	right: 1rem;
}

.navbar .form-control {
	padding: 0.75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.navbar span.nav-link a:hover {
	color: #007bff;
	text-decoration: none;
}

/* profile */
#profile img {
	max-width: 100%;
	height: auto;
}

/* Compose Message */
#form-compose-message .form-group label {
	text-align: right;
}

/* Both */

/* #message-list .message-list-footer .message-list-action a,
#message-detail .message-list-footer .message-list-action a {
	font-size: 16px;
	cursor: pointer;
} */

.see-more {
	color: #007bff;
	cursor: pointer;
}

.last-message-info {
	flex: 1 1 auto;
}

.message-list-footer {
	border-top: 1px solid #ececec;
}

/* Message List */
#message-list .message-list-container {
	border: 1px solid #e7e3e3;
	border-radius: 5px;
	background-color: #fff;
}

.message-list-footer .message-list-action a {
	font-size: 16px;
	/* cursor: pointer; */
}

/* Message Detail */
#message-detail .message-detail-container {
	border: 1px solid #e7e3e3;
	border-radius: 5px;
	background-color: #fff;
	max-width: 60%;
}

/* Gap */
.gap,
.gap-1 {
	gap: 0.25rem !important;
}

.gap-2 {
	gap: 0.5rem !important;
}

.gap-3 {
	gap: 1rem !important;
}

.gap-4 {
	gap: 1.5rem !important;
}

/* skeleton */
.box {
	border: 1px dashed gray;
}
